<div class="container" style="margin-top:10px;">

	<div class="row">
	    <div class="col-md-5 container-element box">
		<h1>Potencijalni hobiji</h1>
		  <ul dnd-list="diff"
		      dnd-drop="dropCallbackOne(event, index, item, external, type,'itemType')" 
		  >

		    <li style="color:#333;" ng-repeat="item in diff "
		        dnd-draggable="item"
		        dnd-moved="diff.splice($index, 1)"
		        dnd-effect-allowed="move"
		        dnd-selected="models.selected = item"
		        ng-class="{'selected': models.selected === item}"
		        >
		        {{item.name}}
		    </li>
		</ul>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-5 container-element box">
		<h1>Moji hobiji</h1>
		  <ul dnd-list="myhobbies"
		  	  dnd-drop="dropCallback(event, index, item, external, type,'itemType')" 
		  	 >

		    <li style="color:#333;" ng-repeat="item in myhobbies"
		        dnd-draggable="item"
		        dnd-moved="myhobbies.splice($index, 1)"
		        dnd-effect-allowed="move"
		        dnd-selected="models.selected = item"
		        ng-class="{'selected': models.selected === item}"
		        >
		        {{item.name}}
		    </li>
		</ul>
        <!--
		<button class="btn btn-default" type="button" name="button" ng-click="izmjenaListeHobija()">Sacuvaj izmjene</button>
		-->
	    </div>

		
	</div>
</div>



