<div class="container-fluid">
 <ul class="pager">
        <li class="previous"><a ng-click="nazad()">&larr; Prethodna</a></li>
        <li class="next"><a ng-click="naprijed()">Sljedeca &rarr;</a></li>
    </ul>
  <div class="row" style="display: flex;flex-wrap: wrap;">
    
            
                <div class=" friend-box col-md-6"  ng-repeat="friend in friends | filter : test" >
                  <div class="col-md-6">
                   
                    <img ng-src="http://localhost:8080/download?name={{friend.username}}" alt="profilna"  class="img-circle img-responsive" style="margin-top: 8px;margin-bottom: 8px;" />
                    
                
                  </div>
                  

                  <div class="col-sm-2 col-md-6">
                    <h4><i class="glyphicon glyphicon-user"></i> <strong>{{friend.username}}</strong>
                    <i>({{friend.name}} {{friend.surname}})</i>
                    </h4>
                    <small>
                      <cite title="City, ST">
                        <i class="glyphicon glyphicon-map-marker"></i> {{friend.city}}, {{friend.country}}
                      </cite>
                    </small>
                    <p>
                    <i class="glyphicon glyphicon-envelope"></i> {{friend.email}}<br />
                            <i class="glyphicon glyphicon-gift"></i>{{friend.month}} {{friend.day}},{{friend.year}}</p>
                        <!-- Split button -->
                        <div class="btn-group" style="margin-bottom: 5px;">
                            <button class="btn btn-default btn-style right" ng-click="showFriend(friend.id)" >Prikazi profil</button>

                             <button class="btn btn-default btn-style right" style="margin-left: 2px;" ng-click="removeFriend(friend.id,$index)" >Obrisi</button>
                        </div>

                    
                    </div>
                </div>


            
    
  </div>

 

</div>
      

   

   