<div>

    <div class="col-xs-6 col-xs-offset-3">
        <div class="well">
            <form action="" class="dropzone" dropzone="" id="dropzone">
                <div class="dz-default dz-message">
                </div>
            </form>
        </div>
        <div class="pull-right">
            <button class="btn btn-success" ng-click="uploadFile()">Upload File</button>
            <button class="btn btn-danger" ng-click="reset()">Reset Dropzone</button>
        </div>
        <div>
            <form>
                <label>File to download</label>
                <input ng-model="filename" type="text" placeholder="Filename" />
                <a class="btn btn-primary" ng-href="{{ partialDownloadLink + filename }}">Download File</a>
            </form>
        </div>
    </div>

</div>
