

<div class="container">

  <h1>{{greeting}}</h1>
  <div ng-show="!loggedIn()">

    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error.data.message">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error.data.message}}
      </div>
      <!--
      <form class="login-form" ng-submit="login()">
        <div class="form-group">
          <label>Korisnicko ime:</label><br>
          <input type="text" ng-model="userName" class="form-control email"/>
        </div>
        <div class="form-group"><br>
          <label>Sifra:</label>
          <input type="password" ng-model="password" class="form-control pass"/>
        </div>

        <input type="submit" value="Prijavi se" class="btn btn-default"/>
      </form>
      -->

<form ng-submit="login()" class="custom-form">
    
  <label for="">Korisnicko ime:</label>
  <input type="text" ng-model="userName" name="" id="" placeholder="username" class="username">
    
  <label for="">Sifra:</label>
  <input type="password" ng-model="password" name="" id="" placeholder="password" class="pass">
    
  <input type="submit" style="background-color: #2C3E50" value="Prijavi se"/>
    
</form>





    </div>
  </div>








  <div ng-show="loggedIn()">
    <div class="row">
      <div class="col-md-6">
        <h3><span class="label label-success">Success!</span> Welcome {{userName}}</h3>
        <a href ng-click="logout()">(logout)</a>
      </div>
      <div class="col-md-4">
    <div class="row header">
      <div class="col-sm-4">{{userName}} is a</div>
    </div>
    <div class="row">
      <div class="col-sm-2">User</div>
      <div class="col-sm-2"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="roleUser"></span></div>
    </div>
    <div class="row">
      <div class="col-sm-2">Admin</div>
      <div class="col-sm-2"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="roleAdmin"></span></div>
    </div>
    <div class="row">
      <div class="col-sm-2">Foo</div>
      <div class="col-sm-2"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="roleFoo"></span></div>
    </div>
      </div>
    </div>
  </div>

</div>





