<div class="container">
  <div ng-show="loggedIn()">

    <div class="row" style="display:flex;flex-wrap: wrap;">
      
        
     <!--
        <div class="col-md-4">
        <div class="row header">
          <div class="col-sm-4">{{userName}} is a</div>
        </div>
        <div class="row">
          <div class="col-sm-2">User</div>
          <div class="col-sm-2"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="roleUser"></span></div>
        </div>
        <div class="row">
          <div class="col-sm-2">Admin</div>
          <div class="col-sm-2"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="roleAdmin"></span></div>
        </div>
        <div class="row">
          <div class="col-sm-2">Foo</div>
          <div class="col-sm-2"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="roleFoo"></span></div>
        </div>
          </div>
    -->



        
       <div class="col-md-4 col-xs-12" style="text-align: center;">
         <div class="span2">
         <h2 class="podnaslovi-profila">Moja slika</h2>
            
            <div class="roditelj-slike">
              <img ng-src="{{profileurl}}" class="" alt="profilna" />
            </div>

            <button class="btn btn-default btn-style right" ng-click="upload()" >Promijeni profilnu</button>
          </div>
        </div>


        <div class="col-md-4 left-border">
          <div class="span2">
            <h2 class="podnaslovi-profila">Moje informacije</h2>
        
            <span ng-model="user.name">Ime i prezime: {{user.name}}</span><span ng-model="user.surname" style="display: inline-block;"> {{ user.surname}}</span>
            <h6 style="clear: both;">Datum rodjenja: {{user.day}}. {{user.month}} {{user.year}}.</h6>
            <h6  ng-model="user.gender">Spol: {{user.gender}}</h6>
            <h6  ng-model="user.email">Email: {{user.email}}</h6>
            <h6  ng-model="user.country">Drzava: {{user.country}}</h6>
            <h6  ng-model="user.city">Grad: {{user.city}}</h6>
            <h6  ng-model="user.relationshipStatus">Status veze: {{user.relationshipStatus}}</h6>
            <h6  ng-model="user.interestedIn">Zainteresovan za: {{user.interestedIn}}</h6>
            <h6  ng-model="user.description">Opis: {{user.description}}</h6>        
        
            <button class="btn btn-default btn-style right" type="button" name="button" ng-click="changeInformation()" >Izmijeni informacije</button>         
        </div>
        
   
      
       </div>


      

      <div class="col-md-4 left-border">
        <div class="span2">
          <h2 class="podnaslovi-profila">Moji hobiji</h2>
              <div class="hobby-box" >
                <span ng-repeat="hobby in hobbies" class="hobby">
                    {{hobby.name}}
                    <span class="glyphicon glyphicon-remove" ng-click="removeHobby(hobby.id,$index)"></span>
                </span>
              </div>
     
          <button class="btn btn-default btn-style right" type="button" name="button" ng-click="addHobby()">Dodaj hobi</button>
        </div>

      </div>

    </div>
  </div>

</div>
