<div ng-show="!loggedIn()">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-danger" role="alert" ng-show="error.data.message">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error.data.message}}
    </div>
    <form class="login-form" ng-submit="register()">
      <div class="form-group">
        <label>Ime:</label><br>
        <input type="text" ng-model="user.name" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Prezime:</label>
        <input type="text" ng-model="user.surname" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Username:</label><br>
        <input type="text" ng-model="user.username" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Password:</label><br>
        <input type="password" ng-model="user.password" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Ponovljeni password:</label><br>
        <input type="password" ng-model="passwordRepeat" class="form-control"/>
      </div>

      <span><input type="submit" value="Login" class="btn btn-default"/>
    </form>
  </div>
</div>
