<div class="container-fluid">

  <div class="row">
    
            
                <div class=" friend-box col-md-6"  ng-repeat="unfriend in unfriends | filter : test">

                  <div class="col-sm-2 col-md-6">
                    <img ng-src="{{profileurls[unfriends.indexOf(unfriend)]}}" alt="profilna"  class="img-circle img-responsive" style="margin-top: 8px;margin-bottom: 8px;" />
                    
                  </div>

                  <div class="col-sm-2 col-md-6">
                    <h4><i class="glyphicon glyphicon-user"></i> <strong>{{unfriend.username}}</strong>
                    <i>({{unfriend.name}} {{unfriend.surname}})</i>
                    </h4>
                    <small>
                      <cite title="City, ST">
                        <i class="glyphicon glyphicon-map-marker"></i> {{unfriend.city}}, {{unfriend.country}}
                      </cite>
                    </small>
                    <p>
                    <i class="glyphicon glyphicon-envelope"></i> {{unfriend.email}}<br />
                            <i class="glyphicon glyphicon-gift"></i>{{unfriend.month}} {{unfriend.day}},{{unfriend.year}}</p>
                        <!-- Split button -->
                        <div class="btn-group" style="margin-bottom: 5px;">
                            <button class="btn btn-default btn-style right" ng-click="sendFriendRequest(unfriend.id)">Posalji zahtjev za prijateljstvo</button>
                        </div>

                    
                    </div>
                </div>


            
    
  </div>
</div>
      

   

   



